/* Camera02.css */
.camera02-root {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
}
.camera02-canvas {
  width: 100%;
  height: 100%;
}
.camera02-video {
  display: none;
}
.camera02-controls {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  display: flex;
  gap: 10px;
}
.camera02-button {
  width: clamp(48px, 12vw, 72px);
  height: clamp(48px, 12vw, 72px);
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
  transition: all 0.2s ease;
  backdrop-filter: blur(4px);
  flex-shrink: 0;
  pointer-events: auto; /* ボタン自体はクリック可能に */
}
.camera02-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
@media (hover: hover) { /* hover指定できるPCを想定したスタイル */
  .camera02-button:hover:not(:disabled) {
    color: black;
    background: rgba(255, 255, 255, 1.0);
    transform: scale(1.2);
  }
}
@media (hover: none) { /* hoverが使えないタッチ端末を想定したスタイル */
  .camera02-button:active:not(:disabled) {
    color: black;
    background: rgba(255, 255, 255, 1.0);
    transform: scale(1.2);
  }
}
.camera02-button-recording {
  background: rgba(255, 32, 32, 0.8);
}
@media (hover: hover) { /* hover指定できるPCを想定したスタイル */
  .camera02-button-recording:hover:not(:disabled) {
    color: black;
    background: rgba(255, 0, 0, 1.0);
    transform: scale(1.2);
  }
}
