/* リセットと全体設定 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden; /* スクロールバーを防止 */
  background-color: #000;
  font-family: sans-serif;
}
