/* リセットと全体設定 */
* {
  margin: 0;
  padding: 0;
}
body, html, #root {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background-color: #000;
  font-family: sans-serif;
}
