/* リセットと全体設定 */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  background-color: black;
  /* background-color: #f0f; */ /* テスト用 */
  font-family: sans-serif;
}

:root {
  --safe-inset-top: 0px;
  --safe-inset-bottom: 0px;
  --safe-inset-left: 0px;
  --safe-inset-right: 0px;
}
@supports (padding: env(safe-area-inset-bottom)) {
  :root {
    --safe-inset-top: env(safe-area-inset-top);
    --safe-inset-bottom: env(safe-area-inset-bottom);
    --safe-inset-left: env(safe-area-inset-left);
    --safe-inset-right: env(safe-area-inset-right);
  }
}

#root {
  position: fixed;
  top: var(--safe-inset-top, 0px);
  left: var(--safe-inset-left, 0px);
  right: var(--safe-inset-right, 0px);
  bottom: var(--safe-inset-bottom, 0px);
  overflow: auto; /* #root内でスクロール可能に */
}
